/*  Nom et Prénom de l'étudiant */
body {
    background-color: rgb(44, 44, 44);
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    text-align: center;
    color: white;
}

.question {
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-left: 5px solid #0056b3;
}

label {
    display: block;
    margin: 5px 0;
}

.boutons button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.boutons button:hover {
    background-color: #0056b3;
}

.boutons{
    text-align: center;
}

#resultat {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #28a745;
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
    display: none; /* Caché par défaut */
}

#menu{
    display: flex;
    justify-content: center;
    color: inherit;
    text-decoration: none;
  }
  
  #menu:hover {
    color: rgb(46, 46, 46);            
    text-decoration: underline;
  }